#back1,
#back3 {
    background: rgba(0, 0, 0, 0.979);
}

html,
body {
    background: url(../images/background.jpg) no-repeat center fixed;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.pt-2 {
    color: white;
}

#txtmeteo {
    font-weight: bold;
}

#widgetmeteo,
#widgetgoogle,
#widgettwitter,
#widgetmaps {
    height: 20rem;
}

#map {
    height: 18rem;
}