#back1,
#back3 {
    background: rgba(0, 0, 0, 0.979);
}

#back2 {
    background: url('../images/background.jpg');
    height: 55rem;
}

#back3 {
    height: 4rem;
}

.pt-2 {
    color: white;
}

#txtmeteo {
    font-weight: bold;
}

#widgetmeteo,
#widgetgoogle,
#widgettwitter,
#widgetmaps {
    height: 22rem;
}

#map {
    height: 20rem;
}